/* defines a global color variable */
:root {
    --main: #b9c6ae;
    --green: #13621f;
}
/* defines style for the first line name */
.name {
    line-height: 1.5;
    padding: 20px;
    text-align: left;
    font-family: cursive;
    font-weight: 500;
    background-color: beige;
}
.name p::before {
    content: "\273A";
}  
.name p::after {
    content: "\273A";
}
/* defines style for website header */
.top-header {
    width: max;
    background-color: var(--main);
    align-items: center;
    text-align: center;
    line-height: 1.5;
    padding: 15px; 
    color: var(--green);
    font-size: 200%;
}
h1::before {
    font-family: Impact;
    content: "\263A";
    color: var(--green);
    margin-right: 5px;
}
/* defines style for header and footer navbar */
nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    line-height: 1.5;
}
nav a {
    text-decoration: none;
    margin: 20px;
    color: black;
}
header nav {
    justify-content: flex-end;
    background-color: beige;

}
nav a:hover{
    color: red;
}
/* defines style for aside header */
h2 {
    font-size: 150%;
    font-weight: bolder;
    margin-left: 10%;
    color: var(--green);
}
/* this main has two parts, this is for the top part*/
.first-part {
    display: flex;
    flex-wrap: wrap;
}
.info figure img{
    display: inline;
    float: left;
    height:120px;
    width: 100px;
    margin-right: 8px;
    margin-left: 11%;
}
.info p {
    font-family: serif;
    font-size: medium;
    font-weight: 300;
    line-height: 1.5;
    text-align: justify;
    margin-right: 12%;
    margin-left: 11%;
    
}
main section p::first-letter {
    font-size: larger;
    color: var(--green);
    font-weight: 900;
}
/* style for the second part of main */
.second-part {
    display: flex;
    flex-wrap: wrap;
}
aside {
    flex: 1;
    width: 25%;
    background-color: white;
    padding-right: 2%;
    text-align: right;
    border-right: 7px solid var(--green);
}
.info {
    flex: 4;
}
/* works applications container */
.applications {
    flex: 4;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
} 
 /* first box that should be bigger */
.different{
    position: relative;
    border-radius: 10px;
    flex: 0 0 80%;
    padding: 10px;
}
 /* other boxer which have same size */
.same {
    position: relative;
    border-radius: 10px;
    flex: 0 0 40%;
    padding: 10px;
}
 .different img,
 .same img {
    width: 100%;
    border: 1px solid black;
    border-radius: 10px;
} 
.same img:hover{
    opacity: 0.7;
}
.different img:hover{
    opacity: 0.7;
}   
 /* style for the notes on images */
.bottom-right{
    position: absolute;
    bottom: 20px;
    right: 10px;
    color: black;
    border: 1px solid white;
    border-radius: 20px 0 0 20px;
    background-color: white;
    padding: 10px;
}
  /* style for footer navbar */
.nav-footer .info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
.nav-footer a {
    font-size: 150%;
    font-weight: 900;
    font-family: monospace;
}
#section-three {
    padding-top: 5%;
}
/* style for different screen sizes */
  @media screen and (max-width: 768px){
    .same {
        flex: 0 0 60%;
    }
  }
  @media screen and (max-width: 576px){
    nav {
        flex-direction: column;
    }
    .bottom-right {
        padding: 1px;
    }
    .nav-footer .info{
        flex-direction: column;
    }
    footer {
        flex-direction: column;
    }
    h2 {
        font-size: 100%;
        padding-top: 10%;
        padding-bottom: 10%;
    }
  }


